.addBasket {
  width: 32px;
  height: 32px;
  align-self: center;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  display: grid;
  transition: border 0.3s ease;
  grid-template-columns: 100% 100%;
  grid-template-rows: 100% 100%;
  overflow: hidden;
  svg {
    align-self: center;
    justify-self: center;
    transform: scale(1);
    transition: transform 0.3s ease;
    
    path {
      transition: fill 0.3s ease;
    }
  }
  &:hover {
    border: 1px solid #3cc755;
    svg:nth-child(1){
      transform: scale(1.4);
      path {
        fill: #3cc755;
      }
    }
  }
}

.addBasketAdd{
  display: block;
}