.favorite {
  min-height: 100vh;
  display: grid;
  justify-content: space-between;
  row-gap: 30px;
  @media (min-width: 1301px) {
      grid-template-columns: repeat(5, 210px);
    }
    @media (max-width: 1300px) and (min-width: 1001px) {
      grid-template-columns: repeat(4, 210px);
    }
    @media (max-width: 1000px) and (min-width: 801px) {
      grid-template-columns: repeat(3, 210px);
    }
    @media (max-width: 800px) and (min-width: 365px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 364px) {
      grid-template-columns: repeat(1, 1fr);
  }
}
.favoriteCenter{
  display: block;
}

.favoriteWrap {
  width: 100vh;
  padding: 40px;
}

.favoriteTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 47px;
}

.favoriteWrapCenter{

}
